@model WebApplication2.Models.LoginModel

<link href="~/bootstrap/css/bootstrap.css" rel="stylesheet">

@using (Html.BeginForm("Login", "Login", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="d-flex justify-content-center">
        <div class="form-group form-signin">
            <div class="form-item">
                @Html.TextBoxFor(m => m.Login, new
                {
                    @placeholder = "Enter your username"
                })
                @Html.ValidationMessageFor(m => m.Login)
            </div>
            <div>
                @Html.PasswordFor(m => m.Password, new { @placeholder = "Enter your password" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center">
                    <button class="btn btn-outline-primary fa fa-heart" type="submit">Log in</button>
                </div>
            </div>

            @{
                if ((bool?)ViewData["Success"] == true)
                {
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center">
                            <div id="toast" class="toast">
                                <div class="toast-body success-text">
                                    <i class="fa fa-check-circle"></i>
                                    Log in successful!
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
}